# do not lint/format external source files since we wan't to be able to diff against upstream later
src/OpenWPM-adapted/*
src/data-leak/*
openwpm.*.js
# do not lint/format generated artifacts
dist/
package-lock.json
src/background.js
# makes sure that eslintrc.js gets linted/formatted
!.eslintrc.js
# do not lint/format bundled util libraries
src/privileged/prefs/api.js
src/privileged/prefs/schema.json
src/privileged/study/api.js
src/privileged/study/schema.json
# for circleCI; don't lint/format code the directory where get-firefox downloads the Firefox binaries
/firefox
# don't lint/format package.json since npm install formats it differently by default
package.json
